button {
  color: black;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  outline: none;
  background-color: transparent;
  margin: 5px;
}

button:active {
  color: white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-style: none;
  outline: none;
  background-color: black;
  margin: 5px;
}
