@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
    width: 90px;
    height: 90px;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

#icon {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1.25s;
}

#setupText {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 2s;
}

#setupWindow {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#bar {
  background-color: #2296f3;
  width: 100%;
  padding: 10px;
  -webkit-touch-callout: none;
  user-select: none;
}

#bookmarks {
  background-color: #2296f3;
  color: white;
  width: 100%;
  padding: 3px;
}

webview {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.titanium-input{
    position: relative;
}

.titanium-input span {
    position: absolute;
    left: 2px;
}

.dark {
    background-color: #2f3030 !important;
    color: white;
}

.x {
  color: red;
}

.button {
  !important
  border-radius: 0px;
  box-shadow: none;
  outline: 0px;
}

#tiappsBar {
  align-content: left;
  left: 0;
  float: left;
}

#urlbox {
  background-color: white;
  border-radius: 25px;
  outline: none;
  padding: 15px;
  width: 80vw;
  display: inline;
}

a {
  color: white !important;
  cursor: pointer;
}

.tab {
  background-color: #2296f3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
  height: 50px;
  padding: 10px;
  color: lightgray;
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
}

.active {
  color: white;
}

.tiapp-icon {
  background-color: #2b99f0;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
  font-size: 315%;
  float: left;
}

.history-item {
  padding-bottom: 4px;
  float: left;
  clear: left;
}

.hiscard {
  border-top: 1px solid gray;
}

.history-top {
  border-bottom: 1px solid gray;
}
