@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  font-family: 'Open Sans', serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  width: 200px;
  font-size: 14pt;
}

a {
  color: #3399ff;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

.top {
  background-color: black;
  text-indent: 35px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  box-shadow: 3px 5px 5px #888888;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.div-wrapper {
  position: relative;
  height: auto;
  width: 125px;
}

.div-wrapper img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.background {
  background-color: #42f4b6;
  position: absolute;
  width: 100%;
  left: 0;
  top: 97;
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

input[type=text],
input[type=password],
input[type=number],
textarea {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=number]:hover,
input[type=number]:focus,
textarea:focus,
textarea:hover {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3399ff;
  border-radius: 5px;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.base {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.btn2 {
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
}

.btn:hover {
  background-color: #555555;
  color: white;
}

.nobullet {
  list-style-type: none;
}
