#slide {
  border: 1px solid gray;
  outline: 0;
  padding: 10px;
}

#presentSlide,
#stopPresentation {
  float: right;
}

.formatting-button {
  float: left;
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
}

.btn-slides {
  color: #fff;
  background-color: #f4b400;
}

.btn-slides:hover,
.btn-slides:active,
.btn-slides:after {
  color: #fff;
  background-color: #b78700;
  border-color: #b78700;
}

.draggable-slides {
  position: absolute;
  margin: 0px;
  width: 50%;
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
