.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}


#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

@fab-color: #03A9F4;
@fab-size: 64px;
@fab-margin: 1 / 4 * 3 * @fab-size;
@fab-child-size: 1 / 3 * 2 * @fab-size;
@fab-child-margin: (@fab-size - @fab-child-size) / 2 + @fab-margin;

.fab{
	background: @fab-color;
	width: @fab-size;
	height: @fab-size;
	border-radius: 50%;
	text-align:center;
	color: #FFF;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5),3px 3px 3px rgba(0,0,0,0.25);
	position: fixed;
	bottom: @fab-margin;
	right: @fab-margin;
	font-size: 2.6667em;
	display: inline-block;
	cursor: default;
}

.fab span{
	vertical-align:middle;
}

.fab.child{
	right: @fab-child-margin;
	width: @fab-child-size;
	height: @fab-child-size;
	display: none;
	opacity: 0;
	font-size: 2em;
}

.black() when (lightness(@fab-color) > 50%){
	.fab{
		color: #000;
	}
}

.black();

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ECECEC;
	opacity: 0.9;
	display: none;
}
