.message-send {
  width: 100px;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #4286f4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.message-return {
  width: 100px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #a13fcc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 100px;
  color: white;
}
